
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/* src/index.css */

body {
  background-color: #F6F7F8;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif; /* Optional: to set a default font */
}
